# created by virtualenv automatically
*.pyc
*.swp
__pycache__/
/bin/
/lib/
/logs/
django.log
.vscode/
/venv/
migrations/

# Kotlin & Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild
.cxx/
*.apk
*.aab
*.aar
*.ap_
*.dex
output.json
