asgiref==3.8.1
Django==5.1
sqlparse==0.5.1
requests
djangorestframework==3.15.2
psycopg2-binary==2.9.9
django-passwords==0.3.12
django-cors-headers==4.7.0
channels
channels_redis
daphne
pytest
pytest-django
pytest-asyncio
uvicorn
uvicorn[standard]
google-auth
geopy
pillow
drf_spectacular
drf-api-logger==1.1.16
psutil